/src/
/storybook-static/
/build/
/stories
.storybook/

Jenkinsfile
*.story.*
package-lock.json
prettier.config.js
yarn.lock
.eslintrc.json
.eslintignore
.editorconfig
babel.config.js
.gitignore
configure-jest.js
.travis.yml
jest.config.js
tsconfig.json
tsconfig.types.json
tslint.json
.prettierignore